body {
  margin-top: 100px;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

ul li {
  border: grey 1px solid;
  list-style: none;
  padding: 10px;
}

h1 {
  text-align: center;
}

input {
  border: none;
  width: 100%;
}
